.form-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }