.header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #e6e8ec;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.header-container{
    width: 100%;
    // max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}

.header-logo{
    position: relative;
    z-index: 12;
    display: inline-block;
    flex-shrink: 0;
    width: 128px;
    margin-right: 32px;
}