

// colors
:root{
    $white: #ffffff;
    $blue: #4437ff;
    $blue-light: #4BC9F0;
    $blue-dark: #1a10b1;
    $purple: #9757D7;
    $purple-light: #CDB4DB;
    $pink: #EF466F;
    $green: #45B26B;
    $asphalt: #E4D7CF;
    $yellow: #FFD166;
    
    $neutrals1: #141416;
    $neutrals2: #23262F;
    $neutrals3: #353945;
    $neutrals4: #777E90;
    $neutrals5: #B1B5C3;
    $neutrals6: #E6E8EC;
    $neutrals7: #F4F5F6;
    $neutrals8: #FCFCFD;
}